<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.draper.dao.ProductionMapper">
    <!-- 目的：为dao接口方法提供sql语句配置 -->

    <insert id="insertProduction" parameterType="com.draper.entity.Production">
        INSERT INTO production (create_at, artist_id, intro, state, editor_id, thumbnail_url, video_url, article)
        VALUES (#{createAt}, #{artistId}, #{intro},#{state}, #{editorId}, #{thumbnailUrl}, #{videoUrl}, #{article})
    </insert>

    <select id="selectProductionById" resultType="com.draper.entity.Production">
      SELECT * FROM production WHERE id = #{id}
    </select>

    <update id="updateProductionValueByKey">
        UPDATE production
        SET ${key} = #{value}
        WHERE id = #{id}
    </update>

    <delete id="deleteProductionById">
        DELETE FROM production
        WHERE id = #{id};
    </delete>

    <update id="setUpShow">
        UPDATE production
        SET state = 1
        WHERE id = #{id}
    </update>

    <update id="setDownShow">
        UPDATE production
        SET state = 0
        WHERE id = #{id}
    </update>

    <select id="selectAllProduction" resultType="com.draper.entity.Production">
        SELECT *
        FROM production
    </select>

    <select id="selectBannerProduction" resultType="com.draper.entity.Production">
        SELECT *
        FROM production
        WHERE banner = 1;
    </select>

    <update id="setUpBanner">
        UPDATE production
        SET banner = 1
        WHERE id = #{id}
    </update>

    <update id="setDownBanner">
        UPDATE production
        SET banner = 0
        WHERE id = #{id}
    </update>

</mapper>