<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.draper.dao.ShowreelMapper">
    <!-- 目的：为dao接口方法提供sql语句配置 -->

    <insert id="insertShowreel">
        INSERT INTO showreel
        (create_at, name, state, editor_id, production_id)
        VALUES
        (#{createAt}, #{name}, #{state}, #{editorId}, #{productionId})
    </insert>

    <delete id="deleteShowreel">
        DELETE FROM showreel
        WHERE id = #{id}
    </delete>

    <update id="setUpShow">
        UPDATE showreel
        SET state = 1
        WHERE name = #{name}
    </update>

    <update id="setDownShow">
        UPDATE showreel
        SET state = 0
        WHERE name = #{name}
    </update>

    <select id="selectShowreelListByName" resultType="com.draper.entity.Showreel">
        SELECT *
        FROM showreel
        WHERE name = #{name}
    </select>

    <update id="updateShowreelValue">
        UPDATE showreel
        SET ${key} = #{value}
        WHERE id = #{id}
    </update>

    <select id="getShowreelId" resultType="Long">
        SELECT id
        FROM showreel
        WHERE name = #{name}
        AND production_id = #{productionId}
    </select>

</mapper>